* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #ecf0f1;
  color: #777;
}
body:has(#menu-check:checked) {
  height: 100vh;
  overflow: hidden;
}

p {
  font-size: 1.25rem;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}
header > div {
  background-color: #04081e;
  display: flex;
  align-items: center;
  max-width: 1024px;
  height: 6rem;
  margin: 0 auto;
  padding: 0 2%;
  font-size: 1.2rem;
}
header > div a {
  color: #fff;
}
header > div .left {
  flex: 1;
  display: flex;
  height: 100%;
}
header > div .left > div {
  height: 100%;
  position: relative;
}
header > div .left > div:hover .sub {
  opacity: 1;
  z-index: 1;
  pointer-events: all;
}
header > div .left > div > a {
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 1rem;
  text-decoration: none;
  padding: 0 3rem;
  transition: all 200ms;
}
header > div .left > div > a:hover {
  background-color: #f6294b;
}
header > div .left > div .sub {
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  opacity: 0;
  z-index: -1;
  transition: all 300ms;
  min-width: 100%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
header > div .left > div .sub > a {
  color: #04081e;
  padding: 1rem 3rem;
  text-decoration: none;
}
header > div .left > div .sub > a:hover {
  color: #f6294b;
}
@media (max-width: 600px) {
  header > div .left {
    display: none;
  }
}
header > div .right {
  height: 100%;
}
header > div .right > div {
  height: 100%;
}
header > div .right > div > button {
  height: 100%;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}
header > div .right > div > button:hover {
  color: #f6294b;
}
header > div .right > div > button > i {
  font-size: 2rem;
}
header > div .menu-btn {
  display: none;
}
header > div .menu-btn > p {
  font-size: 2rem;
  font-weight: 100;
}
header > div .menu-btn .menu-icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
header > div .menu-btn #menu-check {
  display: none;
}
header > div .menu-btn #menu-check + .menu-container {
  position: fixed;
  pointer-events: none;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
header > div .menu-btn #menu-check + .menu-container > label {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
}
header > div .menu-btn #menu-check + .menu-container .panel {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 50vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6666666667);
  transition: all 300ms;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
}
header > div .menu-btn #menu-check + .menu-container .panel > div > a {
  text-decoration: none;
  text-transform: uppercase;
}
header > div .menu-btn #menu-check + .menu-container .panel > div #chevron {
  display: none;
}
header > div .menu-btn #menu-check + .menu-container .panel > div #chevron:checked + div > a span {
  color: #f6294b;
}
header > div .menu-btn #menu-check + .menu-container .panel > div #chevron:checked + div > a i {
  transform: rotateX(180deg);
}
header > div .menu-btn #menu-check + .menu-container .panel > div #chevron:checked + div .sub {
  height: 20rem;
}
header > div .menu-btn #menu-check + .menu-container .panel > div > div > a {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
header > div .menu-btn #menu-check + .menu-container .panel > div > div > a i {
  transition: all 300ms;
}
header > div .menu-btn #menu-check + .menu-container .panel > div > div .sub {
  overflow: hidden;
  height: 0;
  transition: all 0.5s;
  padding-left: 2rem;
}
header > div .menu-btn #menu-check + .menu-container .panel > div > div .sub a {
  height: 4rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}
header > div .menu-btn #menu-check + .menu-container .panel > div > div .sub a:first-child {
  margin-top: 1rem;
}
header > div .menu-btn #menu-check:checked + .menu-container {
  z-index: 99;
  pointer-events: all;
}
header > div .menu-btn #menu-check:checked + .menu-container > label {
  opacity: 1;
  pointer-events: all;
}
header > div .menu-btn #menu-check:checked + .menu-container .panel {
  transform: translateX(0%);
}
@media (max-width: 600px) {
  header > div .menu-btn {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 1rem;
    color: #fff;
  }
}

main {
  max-width: 1024px;
  margin: 0 auto;
}
main .top {
  margin-top: 1rem;
}
@media (max-width: 600px) {
  main .top {
    margin-top: 0;
  }
}
main .top .g-1 {
  display: flex;
  gap: 1rem;
}
@media (max-width: 600px) {
  main .top .g-1 {
    flex-direction: column;
  }
}
main .top .g-1 .c-1 {
  flex: 2;
  overflow: hidden;
}
main .top .g-1 .c-1 .card {
  left: 2rem;
  bottom: 2rem;
}
main .top .g-1 .c-1 img {
  filter: brightness(60%);
}
main .top .g-1 .c-1:hover img {
  transform: scale(1.1);
  filter: brightness(100%);
}
main .top .g-1 .c-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .top .g-1 .c-2 .c-2-1 {
  flex: 1;
  overflow: hidden;
}
main .top .g-1 .c-2 .c-2-1 img {
  filter: brightness(60%);
}
main .top .g-1 .c-2 .c-2-1:hover img {
  transform: scale(1.1);
  filter: brightness(100%);
}
main .top .g-1 .c-2 .c-2-2 {
  flex: 1;
  overflow: hidden;
}
main .top .g-1 .c-2 .c-2-2 img {
  filter: brightness(60%);
}
main .top .g-1 .c-2 .c-2-2:hover img {
  transform: scale(1.1);
  filter: brightness(100%);
}
main .top .g-1 .c-2 .card {
  left: 1rem;
  bottom: 1rem;
}
main .top .g-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 300ms;
}
main .top .g-1 div {
  position: relative;
}
main .top .g-1 .card {
  position: absolute;
  bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (max-width: 600px) {
  main .top .g-1 .card {
    gap: 0.6rem;
  }
}
main .top .g-1 .card__tag {
  background: #f6294b;
  font-size: 1.4rem;
  width: max-content;
  display: flex;
  justify-content: center;
  padding: 0.4rem 3rem;
}
main .top .g-1 .card__title {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 600px) {
  main .top .g-1 .card__title {
    font-size: 1.4rem;
  }
}
main .top .g-1 .card__info {
  display: flex;
  font-size: 1.2rem;
  gap: 1rem;
}
@media (max-width: 600px) {
  main .top .g-1 .card__info {
    margin-top: 0.5rem;
  }
}
main .top .g-2 {
  background-color: #fff;
  margin-top: 1rem;
}
main .top .g-2 p {
  padding: 1rem;
  font-size: 1.4rem;
}
main .top .g-2 p span {
  color: #f6294b;
}
main .main-content {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 4rem;
}
@media (max-width: 600px) {
  main .main-content {
    flex-direction: column;
  }
}
main .main-content .sidebar {
  flex: 3;
  min-height: 100vh;
  background: #fff;
  padding: 2rem;
}
main .main-content .sidebar h2 {
  background: #04081e;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.4rem;
}
main .main-content .sidebar .card {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .main-content .sidebar .card__tag {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 75%;
}
main .main-content .sidebar .card__tag::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/imgs/e1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 300ms;
}
main .main-content .sidebar .card__tag:hover::before {
  transform: scale(1.1);
}
main .main-content .sidebar .card__tag span {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background: #f6294b;
  color: #fff;
  font-size: 1.2rem;
  width: max-content;
  min-width: 10rem;
  display: flex;
  justify-content: center;
  padding: 0.6rem 0;
}
main .main-content .sidebar .card__title {
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  color: #04081e;
}
main .main-content .sidebar .card__title:hover {
  color: #f6294b;
}
main .main-content .sidebar .card__info {
  display: flex;
  font-size: 1.2rem;
  gap: 1rem;
}
main .main-content .sidebar .picks {
  list-style: none;
  margin-top: 2rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}
main .main-content .sidebar .picks li {
  display: flex;
  gap: 1rem;
  border-top: 1px solid #eee;
  padding: 2rem 0;
}
main .main-content .sidebar .picks li img {
  width: 10rem;
  height: 8rem;
}
main .main-content .sidebar .picks li > div a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #04081e;
  font-weight: bold;
}
main .main-content .sidebar .picks li > div a:hover {
  color: #f6294b;
}
main .main-content .sidebar .picks li > div .info {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
}
main .main-content .sidebar .news-letter {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .main-content .sidebar .news-letter .input {
  display: flex;
  width: 100%;
}
main .main-content .sidebar .news-letter .input input {
  background: #ecf0f1;
  border: none;
  outline: none;
  padding: 1rem;
  flex: 1;
}
main .main-content .sidebar .news-letter .input button {
  background: #f6294b;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
}
main .main-content .sidebar .popular {
  margin-top: 1rem;
  padding-top: 0;
}
main .main-content .sidebar .popular li {
  padding: 1rem 0;
}
main .main-content .sidebar .popular li:first-child {
  border: none;
}
main .main-content .sidebar .social {
  margin: 1rem auto;
  margin-top: 2rem;
}
main .main-content .sidebar .social > div {
  display: flex;
  align-items: center;
  background: var(--color);
  color: #fff;
  padding: 0.8rem 0;
  margin-top: 1rem;
}
main .main-content .sidebar .social > div > * {
  padding: 0 1rem;
  font-size: 1.4rem;
}
main .main-content .sidebar .social > div > div {
  background: #fff;
  padding: 0;
  margin: 0 0.8rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-content .sidebar .social > div > div i {
  color: var(--color);
}
main .main-content .sidebar .social > div span {
  flex: 1;
  border-width: 0 1px;
  border-style: solid;
  border-color: #eee;
}
main .main-content .sidebar .social > div a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
main .main-content .contents {
  flex: 7;
  min-height: 100vh;
}
main .main-content .contents .block {
  padding: 2rem;
  background: #fff;
  margin-bottom: 2rem;
}
main .main-content .contents .block h2 {
  background: #04081e;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem 2rem;
}
main .main-content .contents .block-1 .news, main .main-content .contents .block-3 .news {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .main-content .contents .block-1 .news .card, main .main-content .contents .block-3 .news .card {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 20rem;
}
@media (max-width: 600px) {
  main .main-content .contents .block-1 .news .card, main .main-content .contents .block-3 .news .card {
    flex-direction: column;
    height: auto;
    margin-bottom: 2rem;
  }
}
main .main-content .contents .block-1 .news .card:hover .tag::before, main .main-content .contents .block-3 .news .card:hover .tag::before {
  transform: scale(1.1);
}
main .main-content .contents .block-1 .news .card .tag, main .main-content .contents .block-3 .news .card .tag {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 29rem;
}
@media (max-width: 600px) {
  main .main-content .contents .block-1 .news .card .tag, main .main-content .contents .block-3 .news .card .tag {
    width: 100%;
    padding-top: 68%;
  }
}
main .main-content .contents .block-1 .news .card .tag::before, main .main-content .contents .block-3 .news .card .tag::before {
  content: "";
  position: absolute;
  inset: 0;
  transition: all 300ms;
  background-image: var(--img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .main-content .contents .block-1 .news .card .tag span, main .main-content .contents .block-3 .news .card .tag span {
  position: absolute;
  left: 2rem;
  bottom: 1rem;
  background: #f6294b;
  color: #fff;
  font-size: 1.4rem;
  padding: 0.4rem 3rem;
}
main .main-content .contents .block-1 .news .card .text, main .main-content .contents .block-3 .news .card .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .main-content .contents .block-1 .news .card .text .title, main .main-content .contents .block-3 .news .card .text .title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #04081e;
  cursor: pointer;
}
main .main-content .contents .block-1 .news .card .text .title:hover, main .main-content .contents .block-3 .news .card .text .title:hover {
  color: #f6294b;
}
main .main-content .contents .block-1 .news .card .text .info, main .main-content .contents .block-3 .news .card .text .info {
  display: flex;
  gap: 1rem;
}
main .main-content .contents .block-1 .news .card .text .info p i, main .main-content .contents .block-3 .news .card .text .info p i {
  margin-right: 0.5rem;
}
main .main-content .contents .block-1 .news .card .text .desc, main .main-content .contents .block-3 .news .card .text .desc {
  font-size: 1.4rem;
}
main .main-content .contents .block-2 .popular {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
main .main-content .contents .block-2 .popular .g-1 {
  width: 100%;
  padding-top: 50%;
  position: relative;
  overflow: hidden;
}
main .main-content .contents .block-2 .popular .g-1:hover::before {
  transform: scale(1.1);
  filter: brightness(100%);
}
main .main-content .contents .block-2 .popular .g-1::before {
  content: "";
  position: absolute;
  z-index: 0;
  inset: 0;
  background-image: url("/imgs/f1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 300ms;
  filter: brightness(60%);
}
main .main-content .contents .block-2 .popular .g-1 .card {
  position: absolute;
  z-index: 2;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #fff;
}
@media (max-width: 600px) {
  main .main-content .contents .block-2 .popular .g-1 .card {
    gap: 0.6rem;
  }
}
main .main-content .contents .block-2 .popular .g-1 .card__tag {
  font-size: 1.4rem;
  background: #f6294b;
  padding: 0.4rem 3rem;
  width: max-content;
}
main .main-content .contents .block-2 .popular .g-1 .card__title {
  font-size: 2.4rem;
  font-weight: 600;
}
@media (max-width: 600px) {
  main .main-content .contents .block-2 .popular .g-1 .card__title {
    font-size: 1.4rem;
  }
}
main .main-content .contents .block-2 .popular .g-1 .card__info {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}
main .main-content .contents .block-2 .popular .g-1 .card__info i {
  margin-right: 0.5rem;
}
main .main-content .contents .block-2 .popular .g-2 {
  display: flex;
  gap: 2rem;
}
@media (max-width: 600px) {
  main .main-content .contents .block-2 .popular .g-2 {
    flex-direction: column;
  }
}
main .main-content .contents .block-2 .popular .g-2 > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}
main .main-content .contents .block-2 .popular .g-2 > div .card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .main-content .contents .block-2 .popular .g-2 > div .card__tag {
  position: relative;
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
}
main .main-content .contents .block-2 .popular .g-2 > div .card__tag:hover::before {
  transform: scale(1.1);
  filter: brightness(100%);
}
main .main-content .contents .block-2 .popular .g-2 > div .card__tag::before {
  content: "";
  position: absolute;
  z-index: 0;
  inset: 0;
  background-image: var(--img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 300ms;
  filter: brightness(60%);
}
main .main-content .contents .block-2 .popular .g-2 > div .card__tag span {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 1.4rem;
  padding: 0.4rem 3rem;
  background: #f6294b;
  color: #fff;
}
main .main-content .contents .block-2 .popular .g-2 > div .card__title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #04081e;
  cursor: pointer;
}
main .main-content .contents .block-2 .popular .g-2 > div .card__title:hover {
  color: #f6294b;
}
main .main-content .contents .block-2 .popular .g-2 > div .card__info {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}
main .main-content .contents .block-2 .popular .g-2 > div .card__info i {
  margin-right: 0.5rem;
}
main .main-content .contents .block-2 .popular .g-2 > div .card__desc {
  font-size: 1.4rem;
}
footer {
  width: 100%;
  background: #04081e;
  color: #fff;
  padding: 10rem 0;
}
footer > div {
  max-width: 1024px;
  margin: 0 auto;
}
footer > div .top {
  display: flex;
}
@media (max-width: 600px) {
  footer > div .top {
    flex-direction: column;
    padding: 0 1.5rem;
  }
}
footer > div .top .column {
  flex: 1;
}
@media (max-width: 600px) {
  footer > div .top .column {
    margin-bottom: 3rem;
  }
}
footer > div .top .column h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 3rem;
}
footer > div .top .column ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 600px) {
  footer > div .top .column ul {
    gap: 2rem;
  }
}
footer > div .top .column ul li a {
  color: #777;
  text-decoration: none;
  transition: all 300ms;
}
footer > div .top .column ul li a:hover {
  color: #fff;
}
footer > div .top .column.insta {
  width: 20rem;
}
footer > div .top .column.insta .imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer > div .top .column.insta .imgs > div {
  margin-bottom: 2rem;
  width: 23%;
  padding-top: 23%;
  background: #777;
}
@media (max-width: 600px) {
  footer > div .top .column.insta {
    width: 100%;
  }
}
footer > div .bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
@media (max-width: 600px) {
  footer > div .bottom {
    flex-direction: column;
    gap: 3rem;
    padding: 0 1.5rem;
  }
}
footer > div .bottom .copyright p {
  font-size: 1.4rem;
}
footer > div .bottom .copyright p span {
  color: #f6294b;
  cursor: pointer;
}
footer > div .bottom .social {
  display: flex;
  gap: 1rem;
}
footer > div .bottom .social a {
  text-decoration: none;
  width: 4rem;
  height: 4rem;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all 300ms;
}
footer > div .bottom .social a:hover {
  background: #f6294b;
}

.back-to-top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 4rem;
  height: 4rem;
  background: #f6294b;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms;
}
.back-to-top.show {
  opacity: 1;
  pointer-events: all;
}

/*# sourceMappingURL=style.css.map */
